.process {
    color: var(--font-color-light);
    h2 {
        color: #8899A6;
    }
}
.process-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.process-container > * {
    text-align: center;
}
