.project3-img {
  background-image: url("../img/projects/school.png");
  background-size: cover;
  background-position: center;
  height: 350px;
  padding: 2rem;
  border-radius: 16px 16px 0 0;
}

.project3 .button:hover,
.project3 .button-secondary:hover {
  cursor: not-allowed;
}
