.project1-img {
  background-image: url("../img/projects/dadscc.svg");
  background-size: cover;
  background-position: right;
  height: 300px;
  padding: 2rem;
  border-radius: 16px 16px 0 0;
}
