.project2-img {
  background-image: url("../img/projects/foreverreaders.png");
  background-size: cover;
  background-position: center;
  height: 350px;
  padding: 2rem;
  border-radius: 16px 16px 0 0;
}
