// 600px
@media (min-width: 37.5em) { 
  .nav-links li a {
    padding: 1rem;
  }
  .hero h2 {
    max-width: 75%;
  }
  .about-img, .about-img-dark {
    margin: 0 auto;
  }
  .project-tools {
    .tool-container {
      margin: 0 .75rem;
    }
  }
}

// 768px
@media (min-width:48em) { 
  .grid-wrapper {  
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-areas:
    "navbar navbar navbar navbar"
    "hero hero hero hero"
    "about about about about"
    "toolkit toolkit toolkit toolkit"
    "employment employment education education"
    "project1 project1 project1 project1"
/*     "project1 project1 project2 project2"
    "project3 project3 project4 project4" */
    "contact contact contact contact"
    "footer footer footer footer";
  }
  .hero h2 {
    width: 75%;
  }
  .toolkit {
    ul {
      justify-content: space-evenly;
    }
  }
}

// 1024px
@media (min-width: 64em) {
  .grid-wrapper {  
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 10vw;
    grid-template-areas:
    "navbar navbar navbar navbar"
    "hero hero hero hero"
    "about about about about"
    "toolkit toolkit toolkit toolkit"
    "employment employment education education"
    "project1 project1 project1 project1"
/*     "project1 project1 project2 project2"
    "project3 project3 project4 project4" */
    "contact contact contact contact"
    "footer footer footer footer";
  }
  .nav-container {
    padding: 0 9vw;
  }
  .hero h2 {
    width: 60%;
  }
  .about {  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 1rem;
    grid-template-areas:
      "about-heading about-heading"
      "about-text about-img";
  }
}

// 1280px
@media (min-width: 80em) {
  .grid-wrapper {  
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
    "navbar navbar navbar navbar navbar navbar"
    "hero hero hero hero hero hero"
    "about about about about about about"
    "toolkit toolkit toolkit toolkit toolkit toolkit"
    "employment employment employment education education education"
    "project1 project1 project1 project1 project1 project1"
/*     "project2 project2 project3 project3 project4 project4" */
    "contact contact contact contact contact contact"
    "footer footer footer footer footer footer";
  }
  .project1 {
    display: flex;
    flex-direction: row;
    .project-card {
      max-width: 50%;
    }
  }
  .project1-img-lg {
    background-image: url("../img/projects/coffee-3.jpg");
    background-size: cover;
    background-position: right;
    width: 100%;
    border-radius: 0 16px 16px 0;
  }
  .project1-lg-screen {
    flex-direction: column;
  }
  .project1-img {
    display: none;
  }
}

// 1366px
@media (min-width: 85.375em) {

}

// 1920px
@media (min-width: 120em) {

}

// 2560px
@media (min-width: 160em) {
  .grid-wrapper {
    margin: 0 20vw;
  }
  .navbar {
    margin: 0 10vw;
    height: 5vh;
  }
}

// 3840px
@media (min-width: 240em) {
  .grid-wrapper {
    margin: 0 30vw;
  }
  :root {
    --xl-fs: 4rem;
    --lg-fs: 2.827rem;
    --base-fs: 1.5rem;
    --sm-fs: 1rem;
  }
  .navbar {
    margin: 0 20vw;
  }
}