@import "./variables";

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
	list-style-type: none;
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
  scroll-padding-top: 10vh;
  font-size: 16px;
}

body {
  color: var(--font-color);
  font-family: var(--body-ff);
  font-size: var(--base-fs);
  line-height: 1.4em;
  letter-spacing: -.5px;
  text-shadow: none;
  background-color: var(--canvas-color);
}

body::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3,
h4 {
  color: var(--heading-color);
  line-height: 1.4;
  font-family: var(--heading-ff);
  font-weight: 700;
  margin-bottom: 1rem;
}

h1 {
  font-size: var(--xl-fs);
  line-height: 1.1;
}

h2 {
  font-size: var(--lg-fs);
  line-height: 1.2;
}


h3 {
  font-size: var(--base-fs);
  font-weight: 600;
}

a {
  color: var(--link-color);
  font-weight: 600;
  letter-spacing: 0px;
}

strong {
  font-weight: bold;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  background-color: var(--accent-color);
  border-radius: 100ch;
  border: 2px solid var(--accent-color);
  color: var(--font-color-light);
  font-weight: 700;
  padding: 5px 0;
  width: 10em;
}

.button:hover, .button:focus, .button-secondary:hover, .button-secondary:focus {
  transform: scale(1.05) translateY(-.125em);
}

.button-secondary {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: inherit;
  border: 2px solid var(--accent-color);
  border-radius: 100ch;
  color: var(--accent-color);
  font-weight: 700;
  padding: 5px;
  width: 10em;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 1rem;
  margin: 0 1rem;
  grid-template-areas:
  "nav"
  "hero"
  "about"
  "toolkit"
  "employment"
  "education"
  "project1"
/*   "project2"
  "project3"
  "project4" */
  "contact"
  "footer"
}

.nav-container { grid-area: navbar; background-color: var(--bg-color);}
.hero { grid-area: hero; background-color: var(--accent-color);}
.about { grid-area: about; background-color: var(--bg-color);}
.toolkit { grid-area: toolkit; background-color: var(--bg-color-inverted);}
.employment { grid-area: employment; background-color: var(--bg-color);}
.education { grid-area: education; background-color: var(--bg-color);}
.project1 { grid-area: project1; background-color: var(--bg-color);}
.project2 { grid-area: project2; background-color: var(--bg-color); display: none;}
.project3 { grid-area: project3; background-color: var(--bg-color); display: none;}
.project4 { grid-area: project4; background-color: var(--bg-color); display: none;}
.contact { grid-area: contact; background-color: #192734;}
.footer { grid-area: footer; background-color: var(--bg-color);}

.grid-wrapper > * {
  border-radius: 16px;
  box-shadow: var(--box-shadow);
  padding: 2rem;
  min-width: 100%;
}

header {
  box-shadow: none !important;
}

.screenreader-text {
  height: 1px;
  left: -999px;
  position: absolute;
  top: auto;
  width: 1px;
  box-shadow: none;
}

hr {
  border: 0;
  height: 2px;
  width: 75%;
  margin: 0 auto;
  background-color: var(--canvas-color);
}

@import "./navbar";
@import "./main-css/hero";
@import "./main-css/about";
@import "./main-css/toolkit";
@import "./main-css/employment";
@import "./main-css/education";
@import "./main-css/projects";
@import "./main-css/project1";
@import "./main-css/project2";
@import "./main-css/project3";
@import "./main-css/project4";
@import "./main-css/contact";
@import "./project-css/style-cs";
@import "./footer";
@import "./media";
@import "./project-css/media-cs";